body {
    background: #2b2b2b;
    margin: 0;
}

.someNum {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadred {
    height: 100px;
}

#Shar_1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.str {
    stroke-dasharray: 1100;
    stroke-dashoffset: 0;
    transition: all 2s linear;
    display: none;
    margin: auto;
    animation: fream 1.7s ease normal;
    animation-iteration-count: 1;
}

@keyframes fream {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
        display: none;
    }
}